<div id="main-wrapper">
  <!-- Sidebar Start -->
  <app-sidebar></app-sidebar>
  <!--  Sidebar End -->
  <div class="page-wrapper">
    <!--  Header Start -->
    <app-header></app-header>
    <!--  Header End -->
    <div class="body-wrapper" style="background-color: #FAFAFA;min-height: 100vh;">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <button
      class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <i class="icon ti ti-settings fs-7"></i>
    </button>
    <app-settings></app-settings>
  </div>

</div>
