
  <div class="col-12">
    <div class="card w-100 border position-relative overflow-hidden mb-0">
      <div class="card-body p-4">
        <h4 class="card-title">Informatipons de votre compte</h4>
        <p class="card-subtitle mb-4">Pour modifier vos données personnelles, modifiez-les et enregistrez-les à partir d'ici.</p>
          <div class="row">
              <form [formGroup]="userForm">
                <div class="form-floating mb-3">
                  <input type="tel" class="form-control" placeholder="Login" formControlName="phone_number">
                  <label>
                    <i class="ti ti-phone me-2 fs-4"></i>Login
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Nom" formControlName="first_name">
                  <label>
                    <i class="ti ti-user me-2 fs-4"></i>Nom
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" placeholder="Prénom (s)" formControlName="last_name">
                  <label>
                    <i class="ti ti-user me-2 fs-4"></i>Prénom (s)
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" placeholder="Adresse email" formControlName="email">
                  <label>
                    <i class="ti ti-mail me-2 fs-4"></i>Adresse email
                  </label>
                </div>


                  <div class="mt-3">
                    <button type="submit" class="btn btn-primary  hstack gap-6">
                      <i class="ti ti-send fs-4"></i>
                      Modifier mes informations
                    </button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>

