
  <div class="col-12">
    <div class="card w-100 border position-relative overflow-hidden mb-0">
      <div class="card-body p-4">
        <h4 class="card-title">Personal Details</h4>
        <p class="card-subtitle mb-4">To change your personal detail , edit and save from here</p>
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleInputtext" class="form-label">Nom </label>
                <input type="text" class="form-control" id="exampleInputtext" placeholder="Mathew Anderson">
              </div>
              <div class="mb-3">
                <label for="exampleInputtext2" class="form-label">Prénoms</label>
                <input type="text" class="form-control" id="exampleInputtext2" placeholder="Maxima Studio">
              </div>

            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleInputtext1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputtext1" placeholder="info@modernize.com">
              </div>
              <div class="mb-3">
                <label for="exampleInputtext3" class="form-label">Numero de telephone</label>
                <input type="text" class="form-control" id="exampleInputtext3" placeholder="+91 12345 65478">
              </div>
            </div>

            <div class="col-12">
              <div class="d-flex align-items-center justify-content-end mt-4 gap-6">
                <button class="btn btn-primary">Enregistrer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

