<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
  <div class="card-body px-4 py-3">
    <div class="row align-items-center">
      <div class="col-9">
        <h4 class="fw-semibold mb-8"> {{title}}  </h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="text-muted text-decoration-none" [routerLink]="['/trajex/dashboard']" routerLinkActive="router-link-active" >Accueil</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">{{title}}</li>
          </ol>
        </nav>
      </div>
      <div class="col-3">
        <div class="text-center mb-n5">
          <img src="../assets/images/breadcrumb/ChatBc.png" alt="modernize-img" class="img-fluid mb-n4">
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" (click)="goBack()" class="d-inline-flex align-items-center justify-content-center btn btn-primary rounded btn-lg mb-3">
  <i class="fs-5 ti ti-arrow-left"></i>
  <span>Retour</span>
</button>
