<div id="main-wrapper" class="auth-customizer-none">
  <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-6 col-lg-6 col-xxl-3 auth-card">
            <img src="assets/images/Sign in-rafiki.svg" alt="logo" class="img-fluid">
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-3 auth-card mt-4">
          <div class="card mb-0">
            <div class="card-body">
              <!-- <a href="../main/index.html" class="text-nowrap logo-img text-center d-block mb-5 w-100">
                <img src="../assets/images/logos/babyshop-logo.png" class="dark-logo mb-0" alt="Logo-Dark" >
                <img src="../assets/images/logos/babyshop-logo.png" class="light-logo" alt="Logo-light" style="display: none;">
              </a> -->
              <form [formGroup]="LoginForm">
                <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                  {{ errorMessage }}
                </div>

                <div *ngIf="succesMessage" class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                 {{ succesMessage }}
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Numéro de téléphone</label>
                  <input type="tel" class="form-control" (keypress)="keyPress($event)" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="numero">
                  <small class="invalid" *ngIf="LoginForm?.get('numero')?.hasError('required') && LoginForm?.get('numero')?.touched">
                      Le numéro est un champ requis.
                  </small>
                  <small class="invalid" *ngIf="LoginForm?.get('numero')?.hasError('minlength')">
                      Le numéro doit contenir au moins 10 caractères.
                  </small>
                  <small class="invalid" *ngIf="LoginForm?.get('numero')?.hasError('maxlength')">
                      Le numéro ne doit pas dépasser 10 caractères.
                  </small>
                </div>

                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                  <small class="invalid" *ngIf="LoginForm?.get('password')?.hasError('required') && LoginForm?.get('password')?.touched">
                      Le mot de passe est un champ requis.
                  </small>
                  <small class="invalid" *ngIf="LoginForm?.get('password')?.hasError('minlength')">
                      Le mot de passe doit contenir au moins 6 caractères.
                  </small>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="form-check">
                    <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label text-dark" for="flexCheckChecked">
                      Se souvenir de moi
                    </label>
                  </div>
                  <a class="text-primary fw-medium" [routerLink]="['/auth/forgot-password']" >
                    Mot de passe oublié ?
                  </a>
                </div>

                <button (click)="onSubmit()" class="btn btn-primary w-100 py-8 mb-4 rounded-2" [disabled]="LoginForm.invalid || loader">
                  {{ loader ? "Connexion en cours..." : "Se connecter" }}
                </button>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-medium">Pas de compte?</p>
                  <a class="text-primary fw-medium ms-2" [routerLink]="['/auth/register-boutique']">
                    Créer un compte
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
