<div class="row">
  <div class="col-lg-6">
    <div class="card border shadow-none">
      <div class="card-body">
        <h4 class="card-title mb-2">Modification de mot de passe</h4>
        <form [formGroup]="passwordForm">
          <div class="form-floating mb-3">
            <input type="password" class="form-control border" placeholder="Ancien mot de passe">
            <label>
              <i class="ti ti-lock me-2 fs-4 "></i>
              <span class="ps-3">Ancien mot de passe</span>
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control border" placeholder="Nouveau mot de passe">
            <label>
              <i class="ti ti-lock me-2 fs-4 "></i>
              <span class="ps-3">Nouveau mot de passe </span>
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control border" placeholder="Confirmation du mot de passe">
            <label>
              <i class="ti ti-lock me-2 fs-4 "></i>
              <span class="ps-3">Confirmation du mot de passe</span>
            </label>
          </div>

          <div class="d-md-flex align-items-center">
            <div class="mt-3 mt-md-0 ms-auto">
              <button type="submit" class="btn btn-info hstack gap-6"
              (click)="onSubmit()"
                [disabled]="passwordForm.invalid || loader">
                <i class="ti ti-send me-2 fs-4"></i>
                Modifier le mot de passe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body p-4">
        <div class="text-bg-light rounded-1 p-6 d-inline-flex align-items-center justify-content-center mb-3">
          <i class="ti ti-device-laptop text-primary d-block fs-7" width="22" height="22"></i>
        </div>
        <h4 class="card-title mb-0">Devices</h4>
        <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit Rem.</p>
        <button class="btn btn-primary mb-4">Sign out from all devices</button>
        <div class="d-flex align-items-center justify-content-between py-3 border-bottom">
          <div class="d-flex align-items-center gap-3">
            <i class="ti ti-device-mobile text-dark d-block fs-7" width="26" height="26"></i>
            <div>
              <h5 class="fs-4 fw-semibold mb-0">iPhone 14</h5>
              <p class="mb-0">London UK, Oct 23 at 1:15 AM</p>
            </div>
          </div>
          <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)">
            <i class="ti ti-dots-vertical"></i>
          </a>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3">
          <div class="d-flex align-items-center gap-3">
            <i class="ti ti-device-laptop text-dark d-block fs-7" width="26" height="26"></i>
            <div>
              <h5 class="fs-4 fw-semibold mb-0">Macbook Air</h5>
              <p class="mb-0">Gujarat India, Oct 24 at 3:15 AM</p>
            </div>
          </div>
          <a class="text-dark fs-6 d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle" href="javascript:void(0)">
            <i class="ti ti-dots-vertical"></i>
          </a>
        </div>
        <button class="btn bg-primary-subtle text-primary w-100 py-1">Need Help ?</button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-end gap-6">
      <button class="btn btn-primary">Save</button>
      <button class="btn bg-danger-subtle text-danger">Cancel</button>
    </div>
  </div>
</div>
